.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #be3e3717;
  backdrop-filter: blur(14px);
  border-radius: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15), 0 0 16px rgba(255, 255, 255, 0.1);
  z-index: 999;
  transition: all 0.3s ease;
}

.nav-inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.07);
}

.logo img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.logo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #b42e27;
  letter-spacing: 0.6px;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #1c1c1c;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  height: 2px;
  width: 0%;
  background: #b42e27;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-links a:hover {
  color: #b42e27;
}

.nav-links a:hover::after {
  width: 60%;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  color: #1c1c1c;
  cursor: pointer;

  transition: transform 0.3s ease, color 0.3s ease;
}

.menu-icon:hover {
  transform: rotate(10deg) scale(1.1);
  color: #b42e27;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  background: rgb(223, 187, 185);
  border-radius: 50px 0 0 50px;
  margin: 0;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15), 0 0 16px rgba(255, 255, 255, 0.1);
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: right 0.4s ease;
}

.mobile-menu.open {
  right: 0;
}

.mobile-menu a {
  font-size: 1.5rem;
  color: #b42e27;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
}

.mobile-menu a:hover {
  color: #b42e27;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.highlight-transparent {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}


.mobile-menu.open ul li {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.4s ease forwards;
}

.mobile-menu.open ul li:nth-child(1) {
  animation-delay: 0.1s;
}

.mobile-menu.open ul li:nth-child(2) {
  animation-delay: 0.2s;
}

.mobile-menu.open ul li:nth-child(3) {
  animation-delay: 0.3s;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
    margin-top: 15px;
  }
}