.card-container {
    border-radius: 20px;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 15px;
    background: linear-gradient(145deg, #fdf6f0, #ffe6e1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.card-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.card-title {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #2c2c2c;
    font-weight: 600;
}


.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s;
}

.card-img:hover {
    transform: scale(1.05);
}


.card-description {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 15px;
}

.card-price {
    font-weight: bold;
    color: #ff5c5c;
    background: #ffeaea;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .card-img {
        width: 100%;
        height: 120px;
        margin: 0 auto;
        display: block;
    }

    .card-title {
        font-size: 1rem;
    }

}