.products-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .products-container {
        flex-direction: column;
    }
}