html,
body {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #efcdccd5;
  background-size: 800% 800%;
  animation: gradientAnimation 12s ease infinite;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  font-family: 'Dana', sans-serif !important;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}